body {
    background-color: #99ff99;
    text-align: center;
}

title {
    color: #911e1e;
    text-align: center;
}

h1{
    color: rgb(194, 90, 20);
    text-align: center;
}

p{
    color: black;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}